<div class="container mt-5">
    <!-- Loading Product Spinner -->
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="showProductSpinner">
        <mat-spinner diameter="50" class="product-spinner"></mat-spinner>
    </div>
    <table mat-table [dataSource]="cartDetails" class="mat-elevation-z12">

        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product.pname}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.product.description}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.product.price}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="delete(element.cartId)">Delete</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <div align="right" class="mt-5">
        <button  (click)="checkout()" color="primary" mat-raised-button>Checkout</button>
    </div> -->
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>SubTotal ({{this.productCount}} items): {{this.totalPrice}}</mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <p>Your Order is eligible for free delivery</p>

        </mat-card-content>
        <mat-card-actions>
            <button (click)="checkout()" color="primary" mat-raised-button>Checkout</button>
        </mat-card-actions>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    EMI Available
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Your order qualifies for EMI with valid credit cards (not available on purchase of Gold, Jewelry, Gift cards)</p>
        </mat-expansion-panel>
    </mat-card>

</div>